---
layout: default
---

<div class="home">

  {{ content }}

  <center>
    <h3>How popular are the major candidates across all the newspapers?</h3>
  </center>

  <div class="visualizations" id="candidates">
    <iframe src="../viz/HeatMap_Candidate_per_Date.html"></iframe>
  </div>

  <center>
    <h3>Which are the trending words during the election season?</h3>
  </center>

  <div class="visualizations" id="words">
    <iframe src="../viz/HeatMap_Word_per_Date.html"></iframe>
  </div>

  <center class="header-block">
    <h3>Which words are popular among newspapers during the U.S. 2016 Election?</h3>
  </center>

  <div class="visualizations" id="timeseries">
    <iframe src="../viz/TimeSeries.html"></iframe>
  </div>




</div>