---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.visualizations {
  position: relative;
  height: 100%;
  padding-top: 0%;
  padding-bottom: 75%;
}

.visualizations iframe {
  position: absolute;
  margin: 0 auto;
  display: block;
}

#candidates iframe {
  left: -15%;
  width: 1000px;
  height: 530px;
}

#timeseries iframe {
  left: -15%;
  width: 1000px;
  height: 530px;
}

#election_words iframe {
  margin-top: 100px;
  left: -17%;
  width: 1000px;
  height: 600px;
}

#words iframe {
  left: -2%;
  width: 1000px;
  height: 950px;

  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

#bars1 iframe {
  left: 10%;
  width: 1000px;
  height: 990px;

  -ms-zoom: 0.60;
  -moz-transform: scale(0.60);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.60);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.60);
  -webkit-transform-origin: 0 0;
}

#bars2 iframe {
  margin-top: 50px;
  left: 10%;
  width: 1000px;
  height: 990px;

  -ms-zoom: 0.60;
  -moz-transform: scale(0.60);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.60);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.60);
  -webkit-transform-origin: 0 0;
}

h3, p, li {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

li {
  margin-right: 20px;
}

h4 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h3, h4 {
  font-weight: 900;
}

#offset1 {
  margin-top: 180px;
}

#offset2 {
  margin-top: 200px;
}

.footer-col-wrapper p {
  text-align: left;
}